.edit-w {
    width: 100px;
}

.send-order {
    background-color: rgb(6, 161, 6);
    width: 150px;
    color: white;
    padding: 7.5px;
}

.cart-divider {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    height: 0.8px;
    border-radius: 2px;
    width: 50%;
    background-color: rgb(219, 208, 208);
}
